[submodule ".urxvt/urxvt-font-size"]
	path = .urxvt/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule ".bash/bash-git-prompt"]
	path = .bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
